 <p class="instruc1">"I can't connect my ledger?"</p>
    Make sure your ledger is a nano s and is updated to the latest firmware and had the latest bitcoin app installed, this can be done via the chrome ledger manager app. If the problem persists check your cable (or try another one) re connect the ledger and refresh the browser.
      <p class="instruc1">"Are my tokens 100% secure now?"</p>
      Even though the transaction is signed on the ledger it is constructed via indiesquare api, therefore in the unlikely event indiesquare api is compromised you may be tricked into signing a fake transaction. 
      Currently the ledger will confirm the btc outputs on the device but not the counterparty token transaction. 
  To mitigate this you are able to view the raw unsigned tx before signing on the webapp and thus you can manually decode this to verify the data.
  There will soon be developed a native ledger counterparty app which will allow you to verify the counterparty transaction data as well securely on the ledger device.