<p class="instruc1">"How to connect"</p>
Make sure your ledger is a nano s (blue may also work) updated to the latest firmaware with the latest bitcoin app intalled, enable browser mode on the bitcon app: Bitcoin->settings->browser support->yes,then disconnect and reconnect the ledger.
<p class="instruc1">"I can't connect my ledger?"</p>
    Make sure "https://"" is at the start of the site url and check that your ledger is a nano s and is updated to the latest firmware and has the latest bitcoin app installed anf browser support is set to yes, this can be done via the chrome ledger manager app. If the problem persists check your cable (or try another one) re connect the ledger and refresh the browser.

    <p class="instruc1">"I can connect but it shows an error when sending"</p>
    This is a common error, some users have solved it by trying another cable and/or another USB port, reconnecting the ledger refreshing the browser etc

     <p class="instruc1">"Still Having issues?"</p>
  <a href="http://support.ledgerwallet.com/help_center">Contact support</a>

      <p class="instruc1">"Are my tokens 100% secure now?"</p>
      Even though the transaction is signed on the ledger it is constructed via indiesquare api, therefore in the unlikely event indiesquare api is compromised you may be tricked into signing a fake transaction. 
      Currently the ledger will confirm the btc outputs on the device but not the counterparty token transaction. 
  To mitigate this you are able to view the raw unsigned tx before signing on the webapp and thus you can manually decode this to verify the data.
  There will soon be developed a native ledger counterparty app which will allow you to verify the counterparty transaction data as well securely on the ledger device.
 