<md-toolbar color="primary">
<span>&nbsp;&nbsp;&nbsp;&nbsp;<label class="title">{{dataService.title}}</label></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="subtitle">{{dataService.subTitle}}</label>
 <span class="spacer"></span>

     <div class="button-row" style="display: flex;
  align-items: center;
  justify-content: space-around;"> 
    <button md-button  (click)="setEnglish()">EN</button>
    <button md-button  (click)="setJapanese()">JP</button>
  </div>
  
 
</md-toolbar>