<app-topbar></app-topbar>

<md-tab-group  (selectChange)="onTabChanged($event)">
  
  <md-tab label="Send">
    <div id="container">
<div id="left">
    <md-sidenav-container class="example-sidenav-fab-container">

  <md-sidenav #sidenav mode="side" opened="true">
  
    <div class="example-scrolling-content">
      <div *ngIf="connect" style="text-align: center; display:block">
        <p class="instruc1">Make sure your ledger is updated to the latest firmware,has the latest bitcoin app installed and browser modeenabled, please see the FAQ for more info</p>
    

         <p class="instruc1">DISCLAIMER Even though the transaction is signed on the ledger it is constructed on the server, please see the FAQ for more info</p>
     
      <button md-button  style="width: 190px; height:50px; font-size: 16pt; margin: 0 auto; margin-top: 30px; display:block" (click)="connectLedger()" md-raised-button color="accent">Connect Ledger</button>

         <p class="alert">{{errorConnectText}}</p>


      </div>
     <div *ngIf="loading" style="display:block;">
      <md-progress-circle mode="indeterminate" style="width: 170px; height:50px; font-size: 16pt; margin: 0 auto; margin-top:20px " color="primary"></md-progress-circle>
       <p style="width:100%; text-align:center; margin: 0 auto;margin-top:10px" >connecting...</p>
      </div>
      <br>
      <br>
     <md-card *ngFor="let aToken of userBalance; let i = index">

       
     <img md-card-image style="width: 100px; float:left; margin-top:0px;" [src]="getImage(aToken.token)">
     
     <div style="margin-left: 110px;margin-top:0px;">
     <p class="tokenName"> {{ aToken.token }}</p>
     <p class="tokenBalance">   {{ aToken.balance }}</p>
     

      <p *ngIf="aToken.unconfirmed_balance > 0" class="tokenUnconf">+ {{ aToken.unconfirmed_balance }}</p>
       <p *ngIf="aToken.unconfirmed_balance < 0" class="tokenUnconf"> {{ aToken.unconfirmed_balance }}</p>
         
     <button md-button style="margin: 0 auto; margin-top:10px;" (click)="select(i)" md-raised-button color="accent">Select</button>

    
     </div>
      
    </md-card>
    </div>
  </md-sidenav>
 
</md-sidenav-container>
 </div>
 <div id="center">
   <div *ngIf="sendForm" style="margin-top:50px; margin-left:50px; display:block ">
        <p class="sendToken"> Sending {{ sendToken }}</p>
        <br>
    <md-input-container  id="send_token" style="width:100%; display:block" class="example-full-width">
     <textarea [(ngModel)]="sendAmount" mdInput placeholder="enter send amount"></textarea>
       </md-input-container>
       <br>
      
  <md-input-container id="destination" style="width:100%; display:block" class="example-full-width">
      <textarea  [(ngModel)]="destinationAddress" mdInput placeholder="enter destination address"></textarea>
       </md-input-container>
<br>
<br>

<form>
  <md-select placeholder="Fee" [(ngModel)]="selectedFee" name="fee">
    <md-option *ngFor="let fee of fees" [value]="fee">
      {{fee}}
    </md-option>
  </md-select>

  
</form>

 <button md-button  style="width: 130px; height:40px; font-size: 16pt; margin: 0 auto; margin-top: 40px;" (click)="send()" md-raised-button color="accent">Send</button>

 <p class="alert">{{errorText}}</p>
    
    </div>  
<div  *ngIf="confirmTransaction" style="margin-left:50px; margin-top: 50px;  display:block; text-align: center;" >

  <p>You are sending {{sendAmount}} {{sendToken}} to {{destinationAddress}} fee:{{actualFee/100000000}} BTC</p>
  <button md-button  style="width: 130px; height:40px; font-size: 16pt; margin: 0 auto; margin-top: 40px;" (click)="continueTransaction()" md-raised-button color="accent">Continue</button>
  <br>
  <br>
  <button md-button  style="width: 90px; height:30px; font-size: 12pt; margin: 0 auto;" (click)="showTxData()" md-raised-button color="warn">view tx</button>
    </div>

    <div *ngIf="completion" style="margin-left:50px; margin-top: 50px;  display:block; text-align: center;" >

  <p class="completion">Sent!</p>
  <button md-button  style="width: 130px; height:40px; font-size: 16pt; margin: 0 auto; margin-top: 10px;" (click)="reset()" md-raised-button color="accent">close</button>
 
    </div>
   
<div *ngIf="loadingSend" style="margin-left:50px; margin-top: 50px;  display:block; text-align: center;" >
   <md-progress-circle mode="indeterminate" style="font-size: 16pt; margin: 0 auto; display:block;" color="primary"></md-progress-circle>
    <p class="status"> {{statusText}}</p>
    </div>

 </div>
 <div id="right">
<div *ngIf="txData"  style="display:block;">
<p style="width:100%; word-wrap:break-word; display:inline-block;">{{unsignedTX}}</p>

</div>



</div>




   &nbsp; &nbsp; &nbsp;
</div>
  </md-tab>
  <md-tab label="Receive">
    <div *ngIf="addressLoaded" style="width:300px; height:400px; margin-top:50px; margin-left:50px; text-align: center;">
 <div id="qrcode" style="margin: 0 auto; display:block;"></div>
 <br>
 <label style="width:200px; text-align: center;">{{userAddress}}</label>
 <br>
  <br>
 <label style="width:200px; text-align: center;">(path {{ledgerIndex}})</label>
</div>
<div *ngIf="!addressLoaded" style="width:300px; height:400px; margin-top:50px; margin-left:50px; text-align: center;">
 
 <label style="width:200px; text-align: center;">Connect your ledger to see your receive address</label>
 
</div>
  </md-tab>
    <md-tab label="Advanced">
       <app-rawsign>
   </app-rawsign> 
   <br>
    <br>
      <md-input-container id="base" style="width:100%; display:block" class="example-full-width">
   <textarea [(ngModel)]=ledgerIndex mdInput placeholder="change base path"></textarea>
    </md-input-container>
  </md-tab>
<md-tab label="FAQ/Troubleshooting">
   <app-faq>
     </app-faq>
  </md-tab>

</md-tab-group>



  
  