<app-topbar></app-topbar>
<h1>
  </h1>
  <p>1. Make sure your ledger is updated to the latest firmware and has the latest bitcoin app installed, both can be done via ledger manager chrome app</p>
  <p>2. Set your ledger to browser mode in bitcoin app. On the device: Bitcoin->Settings->Browser support</p>
  

<div id="address_info" style="display:none">
 <div id="qrcode"></div>
 <br>
 <label>{{userAddress}}</label>
</div>

<button md-button  id="generate" style="width: 170px; height:50px; font-size: 16pt; margin-left: 10px; display:block" (click)="connect()" md-raised-button color="accent">Connect Ledger</button>
<md-progress-circle mode="indeterminate" id="loading" style="width: 170px; height:50px; font-size: 16pt; margin-left: 10px; display:none;" color="primary"></md-progress-circle>




 <label id="error" class="alert"></label>

   <md-progress-circle mode="indeterminate" id="loading_send" style="width: 170px; height:50px; font-size: 16pt; margin-left: 10px; display:none;" color="primary"></md-progress-circle>
   &nbsp; &nbsp; &nbsp;
   <md-input-container  id="send_token" style="display:none" class="example-full-width">
     <textarea [(ngModel)]="sendAmount" mdInput placeholder="enter send amount"></textarea>
       </md-input-container>
  <md-input-container id="destination" style="display:none" class="example-full-width">
      <textarea  [(ngModel)]="destinationAddress" mdInput placeholder="enter destination address"></textarea>

       </md-input-container>
 <md-card *ngFor="let aToken of userBalance; let i = index">
     <span> <img md-card-image style="width: 100px;" src="https://api.indiesquare.me/v2/tokens/{{ aToken.token }}/image?width=100">
     
       &nbsp; &nbsp; &nbsp; {{ aToken.token }}&nbsp;{{ aToken.balance }}&nbsp; ({{ aToken.unconfirmed_balance }})
          
         
           
     
        &nbsp; &nbsp; <button md-button  id="send_{{aToken.token}}" (click)="send(i)">
            <i class="material-icons md-18">send</i>&nbsp;Send</button>
      
     
      </span>
    </md-card>