@import '~@angular/material/core/theming/all-theme';
@import "../node_modules/ng2-flex-layout/dist/ng2-flex-layout.css";
@include mat-core();

$md-custompallet: (
    50 : #e8eaf6,
    100 : #c5cae9,
    200 : #9fa8da,
    300 : #7986cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #3949ab,
    700 : #d34051,
    800 : #86c479,
    900 : #1a237e,
    A100 : #8c9eff,
    A200 : #536dfe,
    A400 : #3d5afe,
    A700 : #304ffe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary: mat-palette($md-custompallet, 700);
$accent:   mat-palette($md-custompallet, 800);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);




@include angular-material-theme($theme);

.title {
 font-size: 24pt;
    /* 20px */
    font-weight: 500;
}

.subtitle {
    padding-top: 9px;
 font-size: 16pt;
    font-weight: 400;
}

.instruc1 {
color: #5c8ba7;
font-family: Arial, Helvetica, sans-serif;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
   width: 110px;
    font-size: 10pt;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}


.alert{
    color: #d3394c;
     text-align:center; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}


.sendToken{
    color:black;
     text-align:left; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
}


.tokenName{
    color:black;
     text-align:left; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
     height:15px;
}

.tokenBalance{
    color:#434343;
     text-align:left; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
      height:5px;
}

.tokenUnconf{
    color:darkgrey;
     text-align:left; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-top:0px;
    height:5px;
}

.warning{
    color: #d3394c;
     text-align:left; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.instruc2 {
    width: 90%; text-align:center; font-size: 20pt;  margin: 0 auto; margin-top: 200px;
   
    font-weight: 500;
font-family: Arial, Helvetica, sans-serif;

}

.instrucSmall {
    width: 90%; text-align:center; font-size: 15pt;  margin: 0 auto; margin-top: 30px;
   
    font-weight: 500;
font-family: Arial, Helvetica, sans-serif;

}

.example-sidenav-fab-container {
  width: 100%;
  height: 100vh;
  
}

.example-sidenav-fab-container md-sidenav {
  width: 100%;
}

.example-sidenav-fab-container .mat-sidenav-content,

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

#container{width:100%;}
#left{float:left;width:30vh;}
#right{float:left;width:30vh;}
#center{float:left;width:30vh;}